@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}
/* === Scrollbar yashirish (universal) === */
html, body {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE va eski Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}
